<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958677836221-pvi39u1puamq7i9ustak0avb58ojqdeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958677836221-pvi39u1puamq7i9ustak0avb58ojqdeu</string>
	<key>API_KEY</key>
	<string>AIzaSyD2xhTWiEOcp2yKFkDcCYxog1Cw9IbBf5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>958677836221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.cst</string>
	<key>PROJECT_ID</key>
	<string>cst-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>cst-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958677836221:ios:40531fd675095695eb72d4</string>
</dict>
</plist>